<div ng-controller="GalleryController" id="gallery">

<div class="row text-center">
  <div class="small-8 medium-10 large-12 small-centered columns">
    <div ng-model="currGenre">
      <a ng-click="currGenre=''" href=""class="button">All</a>
      <a ng-click="currGenre='Action'" class="button">Action</a>
      <a ng-click="currGenre='Adventure'" class="button">Adventure</a>
      <a ng-click="currGenre='Crime'" class="button">Crime</a>
      <a ng-click="currGenre='Comedy'" class="button">Comedy</a>
      <a ng-click="currGenre='Drama'" class="button">Drama</a>
      <a ng-click="currGenre='Musical'" class="button">Musical</a>
      <a ng-click="currGenre='Mystery'" class="button">Mystery</a>
      <a ng-click="currGenre='Romance'" class="button">Romance</a>
      <a ng-click="currGenre='Sci-Fi'" class="button">Sci-Fi</a>
      <a ng-click="currGenre='Thriller'" class="button">Thriller</a>
      <a ng-click="currGenre='Western'" class="button">Western</a>
      <a ng-click="currGenre='Biography'" class="button">Biography</a>
      <a ng-click="currGenre='History'" class="button">History</a>
      <a ng-click="currGenre='Family'" class="button">Family</a>
      <a ng-click="currGenre='War'" class="button">War</a>
      <a ng-click="currGenre='Animation'" class="button">Animation</a>
      <a ng-click="currGenre='Horror'" class="button">Horror</a>
      <a ng-click="currGenre='Music'" class="button">Music</a>
      <a ng-click="currGenre='Film-Noir'" class="button">Film-Noir</a>
      <a ng-click="currGenre='Sport'" class="button">Sport</a>
    </div>
  </div>
</div>

<div class="row" id="movie-gallery">
  <div ng-repeat="movie in movieList | filter:{genre:currGenre}" class="small-6 medium-3 large-2 columns end">
    <a ng-href="#/Details/{{movie.imdbID}}">
      <img ng-src="./data/images/{{movie.imdbID}}.jpg">
    </a>
  </div>
</div>

</div>
